<h1>Citas</h1>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Asignar una cita
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <form action="/appointments" method="POST">
          <div class="mb-3">
            <label for="patientId" class="form-label">Paciente: </label>

            <select
              name="patientId"
              class="form-select"
              aria-label="Default select example"
              required
            >
              <option value="" selected disabled hidden>
                Selecciona un paciente
              </option>
              <% patients.forEach(patient => { %>
              <option value="<%= patient._id %>"><%= patient.name %></option>
              <% }) %>
            </select>
          </div>

          <div class="mb-3">
            <label for="date" class="form-label">Selecciona una fecha</label>
            <input
              type="date"
              class="form-control"
              id="date"
              name="date"
              required
            />
          </div>

          <div class="mb-3">
            <label for="office" class="form-label">Consultorio: </label>
            <input
              type="text"
              id="office"
              name="office"
              class="form-control"
              placeholder="ej: 1001"
              required
            />
          </div>

          <div class="mb-3">
            <label for="doctor" class="form-label">Doctor: </label>
            <select name="doctor" class="form-select" required>
              <option value="" selected disabled hidden>
                Selecciona un doctor
              </option>
              <option value="Dr mario">Dr Mario</option>
              <option value="Dr Stiven">Dr Stiven</option>
              <option value="Dr Pedro">Dr Pedro</option>
              <option value="Dr Nilson">Dr Nilson</option>
            </select>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Crear Cita</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="mt-4">
  <h2>Listado de citas</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Doctor</th>
        <th scope="col">Fecha</th>
        <th scope="col">Consultorio</th>
        <th scope="col">Paciente</th>
      </tr>
    </thead>
    <tbody>
      <% appointments.forEach(appointment => { %>
      <tr>
        <td><%= appointment.doctor %></td>
        <td><%= appointment.date.toDateString() %></td>
        <td><%= appointment.office %></td>
        <td><%= appointment.patient.name %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</section>
